# Directory for storing object files and compiled programs 
build/

# Executables and object files
*.out
*.o

# Logs and temporary files
*.log

# Code editor files
.vscode/
.idea/
*.swp
*.swo
.sublime-project
.sublime-workspace